<div class="container ">

  <div class="row card-deck ">

    <div class="card col-sm-4" *ngFor="let product of products ; let i = index">
      <img class="mt-3 card-img-top" src={{product.picture}} alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">{{product.price | currency}}</p>
        <button class="btn btn-primary" (click)=addToCart(product);>Mua</button>
        <button class="mx-2 btn btn-warning" (click)=reToCart(product);>Loại bỏ</button>
      </div>
    </div>

  </div>

</div>
