<h2>Đăng kí</h2>

 <form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <label for="email"><b>Tài khoản</b></label>
      <input type="text" placeholder="Nhập tài khoản" name="email" id="email" required>

      <label for="psw"><b>Mật khẩu</b></label>
      <input type="password" placeholder="Nhập mật khẩu" name="psw" id="psw" required>

      <label for="psw-repeat"><b>Xác nhận lại mật khẩu</b></label>
      <input type="password" placeholder="Nhập lại mật khẩu" name="psw-repeat"  id="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Nhớ mật khẩu
      </label>

      <p>Bằng cách tạo một tài khoản, bạn đồng ý với <a href="#" style="color:dodgerblue">Điều khoản & Quyền riêng tư</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn">Trở về</button>
        <button type="submit" class="signupbtn">Đăng kí</button>
      </div>
    </div>
  </form>
