<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<nav class="navbar navbar-expand-lg topnav">
  <div class="container-fluid">
    <a class="navbar-brand" href="" id="homeEX" style=" font-family: 'Sofia';
  font-size: 33px;">SHOP EX</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngIf="!checkLogin() ">
        <li class="nav-item">
          <a class="nav-link " aria-current="shopping" routerLink="/shopping">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping">Mua sắm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping">Các đơn hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping">Về chúng tôi</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="checkLogin()">
        <li class="nav-item">
          <a class="nav-link " aria-current="shopping" routerLink="/shopping">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/orders">Orders</a>
        </li>
      </ul>

    </div>
    <div class="topnav-right">
      <ul class="navbar-nav" *ngIf="!checkLogin()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="checkLogin()">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
