<div class="mt-3 mb-3 text-white card bg-danger" style="max-width: 18rem;">
  <div class="text-center card-header">Shopping Cart</div>
  <div class="card-body">
    <h5 class="card-title">Total: {{cart.total | currency}}</h5>
    <hr>
    <h6 class="card-title">Items bought:</h6>

    <ul>
      <!--li *ngFor="let order of orders.productOrders">
                {{ order.product.name }} - {{ order.quantity}} pcs.
            </li-->

      <div class="cart-item" *ngFor="let item of cart.items">
        <span>{{ item.product.name }} - </span>

        <span>{{ item.quantity }} psb</span>
      </div>

    </ul>

    <button class="btn btn-light btn-block" (click)=navigateToViewCart()>
      View Cart
      <!-- <a href="../view-cart/view-cart.component.html" routerLink="/viewCart">View Card</a> -->
    </button>

  </div>
</div>
